admin/src/main/java/com/bgd/dms/WebContent/BPM/wf.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:cnpc_tns="http://www.cnpc.com/SAIS/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.cnpc.com/SAIS/wsdl/" name="RADDesignMng">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.cnpc.com/SAIS/wsdl/">
			<xsd:element name="queryProcFlexViewTemp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="procinstId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addProcessDefine">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="xml" type="xsd:string"/>
						<xsd:element name="userName" type="xsd:string"/>
						<xsd:element name="userId" type="xsd:string"/>
						<xsd:element name="procName" type="xsd:string"/>
						<xsd:element name="procEName" type="xsd:string"/>
						<xsd:element name="procType" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateProcFlex">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="xml" type="xsd:string"/>
						<xsd:element name="userName" type="xsd:string"/>
						<xsd:element name="userId" type="xsd:string"/>
						<xsd:element name="procName" type="xsd:string"/>
						<xsd:element name="procId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryTestUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryTestRole">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryProcFlexView">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="procEName" type="xsd:string"/>
						<xsd:element name="procVersion" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryProcFlexView_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="procViewXml" type="xsd:string"/>
						<xsd:element name="procName" type="xsd:string"/>
						<xsd:element name="procEName" type="xsd:string"/>
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryProcFlexViewTemp_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="procViewXml" type="xsd:string"/>
						<xsd:element name="procName" type="xsd:string"/>
						<xsd:element name="procEName" type="xsd:string"/>
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryTestUser_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="users" type="xsd:string"/>
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryTestRole_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="roleXml" type="xsd:string"/>
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ReturnCodeMsg">
				<xsd:sequence>
					<xsd:element name="retCode" type="xsd:string"/>
					<xsd:element name="retMsg" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="addWfProcDefine_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StateMsg" type="xsd:string"/>
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="msg_addWfProcDefine">
		<wsdl:part name="request" element="cnpc_tns:addProcessDefine"/>
	</wsdl:message>
	<wsdl:message name="msg_addWfProcDefine_resp">
		<wsdl:part name="response" element="cnpc_tns:addWfProcDefine_response"/>
	</wsdl:message>
	<wsdl:message name="msg_queryTestUser">
		<wsdl:part name="request" element="cnpc_tns:queryTestUser"/>
	</wsdl:message>
	<wsdl:message name="msg_queryTestUser_resp">
		<wsdl:part name="response" element="cnpc_tns:queryTestUser_response"/>
	</wsdl:message>
	<wsdl:message name="msg_queryProcFlexView">
		<wsdl:part name="request" element="cnpc_tns:queryProcFlexView"/>
	</wsdl:message>
	<wsdl:message name="msg_queryProcFlexView_resp">
		<wsdl:part name="response" element="cnpc_tns:queryProcFlexView_response"/>
	</wsdl:message>
	<wsdl:message name="msg_queryProcFlexViewTemp">
		<wsdl:part name="request" element="cnpc_tns:queryProcFlexViewTemp"/>
	</wsdl:message>
	<wsdl:message name="msg_queryProcFlexViewTemp_resp">
		<wsdl:part name="response" element="cnpc_tns:queryProcFlexViewTemp_response"/>
	</wsdl:message>
	<wsdl:message name="msg_updateProcFlex">
		<wsdl:part name="request" element="cnpc_tns:updateProcFlex"/>
	</wsdl:message>
	<wsdl:message name="msg_updateProcFlex_resp">
		<wsdl:part name="response" element="cnpc_tns:addWfProcDefine_response"/>
	</wsdl:message>
	<wsdl:message name="msg_queryTestRole">
		<wsdl:part name="request" element="cnpc_tns:queryTestRole"/>
	</wsdl:message>
	<wsdl:message name="msg_queryTestRole_resp">
		<wsdl:part name="response" element="cnpc_tns:queryTestRole_response"/>
	</wsdl:message>
	<wsdl:portType name="WFMgrSoap">
		<wsdl:operation name="addProcessDefine">
			<wsdl:input message="cnpc_tns:msg_addWfProcDefine"/>
			<wsdl:output message="cnpc_tns:msg_addWfProcDefine_resp"/>
		</wsdl:operation>
		<wsdl:operation name="queryTestUser">
			<wsdl:input message="cnpc_tns:msg_queryTestUser"/>
			<wsdl:output message="cnpc_tns:msg_queryTestUser_resp"/>
		</wsdl:operation>
		<wsdl:operation name="queryProcFlexView">
			<wsdl:input message="cnpc_tns:msg_queryProcFlexView"/>
			<wsdl:output message="cnpc_tns:msg_queryProcFlexView_resp"/>
		</wsdl:operation>
		<wsdl:operation name="queryProcFlexViewTemp">
			<wsdl:input message="cnpc_tns:msg_queryProcFlexViewTemp"/>
			<wsdl:output message="cnpc_tns:msg_queryProcFlexViewTemp_resp"/>
		</wsdl:operation>
		<wsdl:operation name="updateProcFlex">
			<wsdl:input message="cnpc_tns:msg_updateProcFlex"/>
			<wsdl:output message="cnpc_tns:msg_updateProcFlex_resp"/>
		</wsdl:operation>
		<wsdl:operation name="queryTestRole">
			<wsdl:input message="cnpc_tns:msg_queryTestRole"/>
			<wsdl:output message="cnpc_tns:msg_queryTestRole_resp"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WFMgr" type="cnpc_tns:WFMgrSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addProcessDefine">
			<soap:operation soapAction="WFMgr/addProcessDefine"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryTestUser">
			<soap:operation soapAction="WFMgr/queryTestUser"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryProcFlexView">
			<soap:operation soapAction="WFMgr/queryProcFlexView"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryProcFlexViewTemp">
			<soap:operation soapAction="WFMgr/queryProcFlexViewTemp"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateProcFlex">
			<soap:operation soapAction="WFMgr/updateProcFlex"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryTestRole">
			<soap:operation soapAction="WFMgr/queryTestRole"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WFMgr">
		<wsdl:port name="WFMgr" binding="cnpc_tns:WFMgr">
			<soap:address location="/DMS/SOAPEngine/WFMgr"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
