admin/src/main/java/com/bgd/dms/WebContent/BPM/WorflowFromCNPC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WorflowFromCNPC" targetNamespace="http://www.cnpc.com/SAIS/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:cnpc_tns="http://www.cnpc.com/SAIS/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xsd:schema targetNamespace="http://www.cnpc.com/SAIS/wsdl/"><xsd:element name="queryProcFromCNPC"><xsd:complexType/></xsd:element><xsd:complexType name="queryProcFromCNPC_datas_map"><xsd:sequence><xsd:element name="entityId" type="xsd:string"/><xsd:element name="procName" type="xsd:string"/><xsd:element name="procVersion" type="xsd:string"/><xsd:element name="procType" type="xsd:string"/><xsd:element name="startNode" type="xsd:string"/><xsd:element name="isTerminationImplicit" type="xsd:string"/><xsd:element name="state" type="xsd:string"/><xsd:element name="createUserName" type="xsd:string"/><xsd:element name="procEName" type="xsd:string"/><xsd:element name="isToSync" type="xsd:string"/><xsd:element name="sysId" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:complexType name="queryProcFromCNPC_datas"><xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="queryProcFromCNPC_datas_map" type="cnpc_tns:queryProcFromCNPC_datas_map"/></xsd:sequence></xsd:complexType><xsd:complexType name="ReturnCodeMsg"><xsd:sequence><xsd:element name="retCode" type="xsd:string"/><xsd:element name="retMsg" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:element name="queryProcFromCNPC_response"><xsd:complexType><xsd:sequence><xsd:element name="queryProcFromCNPC_datas" type="cnpc_tns:queryProcFromCNPC_datas"/><xsd:element name="totalRows" type="xsd:string"/><xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </wsdl:types>
  <wsdl:message name="msg_queryProcFromCNPC_resp">
    <wsdl:part name="response" element="cnpc_tns:queryProcFromCNPC_response"/>
  </wsdl:message>
  <wsdl:message name="msg_queryProcFromCNPC">
    <wsdl:part name="request" element="cnpc_tns:queryProcFromCNPC"/>
  </wsdl:message>
  <wsdl:portType name="WorflowFromCNPCSoap">
    <wsdl:operation name="queryProcFromCNPC">
      <wsdl:input message="cnpc_tns:msg_queryProcFromCNPC"/>
      <wsdl:output message="cnpc_tns:msg_queryProcFromCNPC_resp"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorflowFromCNPC" type="cnpc_tns:WorflowFromCNPCSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryProcFromCNPC">
      <soap:operation soapAction="WorflowFromCNPC/queryProcFromCNPC"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorflowFromCNPC">
    <wsdl:port name="WorflowFromCNPC" binding="cnpc_tns:WorflowFromCNPC">
      <soap:address location="/DMS/WSDLEngine/WorflowFromCNPC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
