admin/src/main/java/com/bgd/dms/WebContent/BPM/WorkFlowHumanSelect.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WorkFlowHumanSelect"
	targetNamespace="http://www.cnpc.com/SAIS/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:cnpc_tns="http://www.cnpc.com/SAIS/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.cnpc.com/SAIS/wsdl/">
			<xsd:element name="queryProcSubType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="procType" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="queryProcSubType_null_map">
				<xsd:sequence>
					<xsd:element name="nodeTypeId" type="xsd:string" />
					<xsd:element name="nodeTypeName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="queryProcSubType_null">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="queryProcSubType_null_map"
						type="cnpc_tns:queryProcSubType_null_map" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ReturnCodeMsg">
				<xsd:sequence>
					<xsd:element name="retCode" type="xsd:string" />
					<xsd:element name="retMsg" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="queryProcSubType_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queryProcSubType_null" type="cnpc_tns:queryProcSubType_null" />
						<xsd:element name="totalRows" type="xsd:string" />
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryRoles">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rname" type="xsd:string" />
						<xsd:element name="SelectForm_p" type="xsd:string" />
						<xsd:element name="SelectForm_crd" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="queryRoles_null_map">
				<xsd:sequence>
					<xsd:element name="spare1" type="xsd:string" />
					<xsd:element name="spare2" type="xsd:string" />
					<xsd:element name="adminIf" type="xsd:string" />
					<xsd:element name="roleId" type="xsd:string" />
					<xsd:element name="roleName" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:string" />
					<xsd:element name="validDates" type="xsd:string" />
					<xsd:element name="lockedIf" type="xsd:string" />
					<xsd:element name="roleDesc" type="xsd:string" />
					<xsd:element name="creator" type="xsd:string" />
					<xsd:element name="creatorId" type="xsd:string" />
					<xsd:element name="createDate" type="xsd:string" />
					<xsd:element name="modifiDate" type="xsd:string" />
					<xsd:element name="bsflag" type="xsd:string" />
					<xsd:element name="orgId" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="queryRoles_null">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="queryRoles_null_map" type="cnpc_tns:queryRoles_null_map" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ReturnCodeMsg">
				<xsd:sequence>
					<xsd:element name="retCode" type="xsd:string" />
					<xsd:element name="retMsg" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="queryRoles_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queryRoles_null" type="cnpc_tns:queryRoles_null" />
						<xsd:element name="totalRows" type="xsd:string" />
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryProcRootOrgById">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codeAffordOrgId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="queryProcRootOrgById_datas">
				<xsd:sequence>
					<xsd:element name="subId" type="xsd:string" />
					<xsd:element name="orgId" type="xsd:string" />
					<xsd:element name="orgName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="queryProcRootOrgById_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queryProcRootOrgById_datas"
							type="cnpc_tns:queryProcRootOrgById_datas" />
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryOrgBySubId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="subjectionId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="queryOrgBySubId_null_map">
				<xsd:sequence>
					<xsd:element name="subId" type="xsd:string" />
					<xsd:element name="orgId" type="xsd:string" />
					<xsd:element name="orgName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="queryOrgBySubId_null">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="queryOrgBySubId_null_map" type="cnpc_tns:queryOrgBySubId_null_map" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="queryOrgBySubId_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queryOrgBySubId_null" type="cnpc_tns:queryOrgBySubId_null" />
						<xsd:element name="totalRows" type="xsd:string" />
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="queryProcTypeById">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="superId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="queryProcTypeById_null_map">
				<xsd:sequence>
					<xsd:element name="superId" type="xsd:string" />
					<xsd:element name="codingCodeId" type="xsd:string" />
					<xsd:element name="codingName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="queryProcTypeById_null">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="queryProcTypeById_null_map" type="cnpc_tns:queryProcTypeById_null_map" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="queryProcTypeById_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queryProcTypeById_null" type="cnpc_tns:queryProcTypeById_null" />
						<xsd:element name="totalRows" type="xsd:string" />
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="queryHumanByOrgId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orgId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="queryHumanByOrgId_null_map">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:string" />
					<xsd:element name="userName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="queryHumanByOrgId_null">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="queryHumanByOrgId_null_map" type="cnpc_tns:queryHumanByOrgId_null_map" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="queryHumanByOrgId_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queryHumanByOrgId_null" type="cnpc_tns:queryHumanByOrgId_null" />
						<xsd:element name="totalRows" type="xsd:string" />
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="queryProcTypeName">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codingCodeId" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="queryProcTypeName_null_map">
				<xsd:sequence>
					<xsd:element name="codingName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="queryProcTypeName_null">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="queryProcTypeName_null_map"
						type="cnpc_tns:queryProcTypeName_null_map" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="queryProcTypeName_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queryProcTypeName_null" type="cnpc_tns:queryProcTypeName_null" />
						<xsd:element name="totalRows" type="xsd:string" />
						<xsd:element name="ReturnCodeMsg" type="cnpc_tns:ReturnCodeMsg" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="msg_queryProcRootOrgById_resp">
		<wsdl:part name="response" element="cnpc_tns:queryProcRootOrgById_response" />
	</wsdl:message>
	<wsdl:message name="msg_queryRoles_resp">
		<wsdl:part name="response" element="cnpc_tns:queryRoles_response" />
	</wsdl:message>
	<wsdl:message name="msg_queryOrgBySubId">
		<wsdl:part name="request" element="cnpc_tns:queryOrgBySubId" />
	</wsdl:message>
	
	<wsdl:message name="msg_queryProcTypeById">
		<wsdl:part name="request" element="cnpc_tns:queryProcTypeById" />
	</wsdl:message>
	
	
	<wsdl:message name="msg_queryRoles">
		<wsdl:part name="request" element="cnpc_tns:queryRoles" />
	</wsdl:message>
	<wsdl:message name="msg_queryProcRootOrgById">
		<wsdl:part name="request" element="cnpc_tns:queryProcRootOrgById" />
	</wsdl:message>
	<wsdl:message name="msg_queryHumanByOrgId">
		<wsdl:part name="request" element="cnpc_tns:queryHumanByOrgId" />
	</wsdl:message>
	<wsdl:message name="msg_queryOrgBySubId_resp">
		<wsdl:part name="response" element="cnpc_tns:queryOrgBySubId_response" />
	</wsdl:message>
	
	<wsdl:message name="msg_queryProcTypeById_resp">
		<wsdl:part name="response" element="cnpc_tns:queryProcTypeById_response" />
	</wsdl:message>
	
	
	<wsdl:message name="msg_queryHumanByOrgId_resp">
		<wsdl:part name="response" element="cnpc_tns:queryHumanByOrgId_response" />
	</wsdl:message>
	<wsdl:message name="msg_queryProcSubType">
		<wsdl:part name="request" element="cnpc_tns:queryProcSubType" />
	</wsdl:message>
	<wsdl:message name="msg_queryProcSubType_resp">
		<wsdl:part name="response" element="cnpc_tns:queryProcSubType_response" />
	</wsdl:message>
	<wsdl:message name="msg_queryProcTypeName">
		<wsdl:part name="request" element="cnpc_tns:queryProcTypeName"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="msg_queryProcTypeName_resp">
		<wsdl:part name="response" element="cnpc_tns:queryProcTypeName_response"></wsdl:part>
	</wsdl:message>
	
	
	<wsdl:portType name="WorkFlowHumanSelectSoap">
		<wsdl:operation name="queryRoles">
			<wsdl:input message="cnpc_tns:msg_queryRoles" />
			<wsdl:output message="cnpc_tns:msg_queryRoles_resp" />
		</wsdl:operation>
		<wsdl:operation name="queryProcRootOrgById">
			<wsdl:input message="cnpc_tns:msg_queryProcRootOrgById" />
			<wsdl:output message="cnpc_tns:msg_queryProcRootOrgById_resp" />
		</wsdl:operation>
		<wsdl:operation name="queryOrgBySubId">
			<wsdl:input message="cnpc_tns:msg_queryOrgBySubId" />
			<wsdl:output message="cnpc_tns:msg_queryOrgBySubId_resp" />
		</wsdl:operation>
		
		<wsdl:operation name="queryProcTypeById">
			<wsdl:input message="cnpc_tns:msg_queryProcTypeById" />
			<wsdl:output message="cnpc_tns:msg_queryProcTypeById_resp" />
		</wsdl:operation>
		
		
		<wsdl:operation name="queryHumanByOrgId">
			<wsdl:input message="cnpc_tns:msg_queryHumanByOrgId" />
			<wsdl:output message="cnpc_tns:msg_queryHumanByOrgId_resp" />
		</wsdl:operation>
		<wsdl:operation name="queryProcSubType">
			<wsdl:input message="cnpc_tns:msg_queryProcSubType" />
			<wsdl:output message="cnpc_tns:msg_queryProcSubType_resp" />
		</wsdl:operation>
		<wsdl:operation name="queryProcTypeName">
			<wsdl:input message="cnpc_tns:msg_queryProcTypeName"></wsdl:input>
			<wsdl:output message="cnpc_tns:msg_queryProcTypeName_resp"></wsdl:output>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WorkFlowHumanSelect" type="cnpc_tns:WorkFlowHumanSelectSoap">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryRoles">
			<soap:operation soapAction="WorkFlowHumanSelect/queryRoles" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryProcRootOrgById">
			<soap:operation soapAction="WorkFlowHumanSelect/queryProcRootOrgById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryOrgBySubId">
			<soap:operation soapAction="WorkFlowHumanSelect/queryOrgBySubId" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		
		<wsdl:operation name="queryProcTypeById">
			<soap:operation soapAction="WorkFlowHumanSelect/queryProcTypeById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		
		<wsdl:operation name="queryHumanByOrgId">
			<soap:operation soapAction="WorkFlowHumanSelect/queryHumanByOrgId" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryProcSubType">
			<soap:operation soapAction="WorkFlowHumanSelect/queryProcSubType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryProcTypeName">
			<soap:operation soapAction="WorkFlowHumanSelect/queryProcTypeName" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WorkFlowHumanSelect">
		<wsdl:port name="WorkFlowHumanSelect" binding="cnpc_tns:WorkFlowHumanSelect" >
			<soap:address location="/DMS/WSDLEngine/WFCommonSrv" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
